<div class="cover">
  <div class="container">
    <div class="cover-details">
      <div class="cover-info">
        <h3 class="cover-type">Artist</h3>
        <h1 class="cover-name"></h1>
        <h3 class="listeners">4,967,512 Montly listeners</h3>
      </div>
      <div class="btn-group">
        <button class="btn btn-primary">Play</button>
        <button class="btn">Follow</button>
        <button class="btn">•••</button>
      </div>
    </div>
  </div>
</div>
<div class="releases">
  <div class="song-list">
    <div class="list-header">
      <h1 class="list-title">Popular</h1>
      <button class="btn">Show more</button>
    </div>
    <div class="song-item playing">
      <div class="image"><img class="album-img" src="https://cdn.albumoftheyear.org/album/the-marshall-mathers-lp.jpg" alt=""></div>
      <div class="order">
        <span class="order-num">1</span>
        <button class="btn-play"><i class="fas fa-play"></i></button>
      </div>
      <div class="song-details">
        <span class="song-name">Just don't give a fuck</span>
        <span class="artist-name">Eminem</span>
      </div>
      <span class="stream-count">124,567,788</span>
      <div class="queue">Quee</div>
    </div>
    <div class="song-item">
      <div class="image"><img class="album-img" src="https://is4-ssl.mzstatic.com/image/thumb/Music1/v4/8a/0e/6b/8a0e6b78-e353-1728-2183-653bd2158efe/source/1200x1200bb.jpg" alt=""></div>
      <div class="order">
        <span class="order-num">2</span>
        <button class="btn-play"><i class="fas fa-play"></i></button>
      </div>
      <div class="song-details">
        <span class="song-name">Just don't give a fuck</span>
        <span class="artist-name">Eminem</span>
      </div>
      <span class="stream-count">124,567,788</span>
      <div class="queue">Quee</div>
    </div>
    <div class="song-item">
      <div class="image"><img class="album-img" src="https://consequenceofsound.files.wordpress.com/2017/12/screen-shot-2017-12-07-at-4-20-51-pm.png?w=807" alt=""></div>
      <div class="order">
        <span class="order-num">3</span>
        <button class="btn-play"><i class="fas fa-play"></i></button>
      </div>
      <div class="song-details">
        <span class="song-name">Just don't give a fuck</span>
        <span class="artist-name">Eminem</span>
      </div>
      <span class="stream-count">124,567,788</span>
      <div class="queue">Quee</div>
    </div>
  </div>
  <div class="album-list">
    <div class="list-header">
      <h1 class="list-title">All albums</h1>
      <button class="btn">Show more</button>
    </div>
    <div class="singer-albums">
      <div class="singer-album">
        <img src="https://images.rapgenius.com/797d59cbc13dfd824c1e40ad64e7286b.400x400x1.jpg" alt="">
        <div class="sngr-album-info">
          <h4>Kamikaze</h4>
          <a href="#">Eminem</a>
        </div>
      </div>
      <div class="singer-album">
        <img src="https://target.scene7.com/is/image/Target/11296331_Alt04?wid=488&hei=488&fmt=pjpeg" alt="">
        <div class="sngr-album-info">
          <h4>Recovery</h4>
          <a href="#">Eminem</a>
        </div>
      </div>
      <div class="singer-album">
        <img src="https://4.bp.blogspot.com/-yigdS8WfRAg/Wny3i3NthKI/AAAAAAAAc3Q/QAMLPI777LAJcniGsiVshy7xWovvdULVACLcBGAs/s1600/DOOW163U8AAYKGz.jpg" alt="">
        <div class="sngr-album-info">
          <h4>Recovery</h4>
          <a href="#">Eminem</a>
        </div>
      </div>
    </div>
  </div>

</div>
<div class="sidebar">
  <div class="albums">
    <div class="album album1">
      <div class="album-img">
        <img src="https://images.rapgenius.com/57f15ef7767c0731610de58feae30782.400x400x1.jpg">
      </div>
      <h4>Recomended albums</h4>
      <div class="album-info">

        <h3>Kamikaze</h3>
        <span>2018</span>
      </div>
    </div>
    <div class="album album2">
      <div class="album-img">
        <img src="https://is1-ssl.mzstatic.com/image/thumb/Music69/v4/dd/1b/a7/dd1ba7b0-66c6-abb5-ffc7-0f3849c5e576/source/1200x1200bb.jpg">
      </div>
      <h4>Recomended albums</h4>
      <div class="album-info">

        <h3>Kamikaze</h3>
        <span>2018</span>
      </div>
    </div>
    <div class="album album3">
      <div class="album-img">
        <img src="https://www.udiscovermusic.com/wp-content/uploads/2018/09/Kamikaze-album-cover.jpg">
      </div>
      <h4>Recomended albums</h4>
      <div class="album-info">

        <h3>Kamikaze</h3>
        <span>2018</span>
      </div>
    </div>
  </div>
  <div class="related">
    <div class="list-header">
      <h1 class="list-title">Popular</h1>
      <button class="btn">Show more</button>
    </div>
  </div>
</div>
