<div class="navbar">
  <div class="logo">
    <h2><a routerLink="/">StreamusX</a></h2>
  </div>
  <nav class="menu">
    <ul>
      <li><a routerLink="/search" routerLinkAcrive="active"><fa-icon [icon]="icons[0].search"></fa-icon> Search</a></li>
      <li><a routerLink="/browse" routerLinkAcrive="active"><fa-icon [icon]="icons[0].home"></fa-icon> Home</a></li>
      <li><a routerLink="/user-library" routerLinkAcrive="active"><fa-icon [icon]="icons[0].book"></fa-icon> Your Library</a></li>
    </ul>
    <div class="user">
      <h3>Azizbek Jonibekov</h3>
      <img src="" alt="" class="avatar">
    </div>
  </nav>
</div>
